.is-pop {
    overflow-y: hidden;
}

.pop {
    position: fixed;
    width: 100%;
    z-index: 20;
    top: -100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .is-pop & {
        top: 0;
    }
}

#js-close-2 {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $Color-Black;
    opacity: .35;
}

.pop-container {
    background-color: $Color-White;
    min-width: 600px;
    position: relative;
    z-index: 2;
    header {
        background: $Color-Blue;
        color: $Color-White;
        line-height: 1;
        padding: $Gap-02 $Gap-01;
        position: relative;
        button {
            position: absolute;
            top: 0;
            bottom: 0;
            right: $Gap-01;
            background-color: transparent;
            border: 0;
            color: $Color-White;
            font-size: 18px;
            height: 16px;
            line-height: 16px;
            margin: auto;
        }
    }
    section {
        padding: 30px 20px;
        .pop-flex {
            display: flex;
            .first {
                max-width: 85px;
                flex-basis: 85px;
                margin-right: 20px;
                height: 83px;
                background: #f5f5f5;
                text-align: center;
                font-size: 33px;
                i {
                    color: #808080;
                    line-height: 83px;
                }
            }
            .second {
                flex: 1;
            }
            input {
                width: 100%;
                background: #f5f5f5;
                border: 0;
                height: 33px;
                padding: 0 16px;
                font-size: 14px;
                margin-bottom: 16px;
            }
        }
        .pop-block {
            border: 1px solid $Color-Blue;
            border-radius: .25rem;
            height: 3rem;
            position: relative;
            &::before {
                content: '';
                height: 100%;
                background: $Color-Blue;
                width: 1px;
                left: 3rem;
                display: block;
                position: absolute;
            }
            &::after {
                content: '';
                position: absolute;
                width: calc(100% - 5rem);
                background: $Color-Blue;
                height: 5px;
                bottom: .75rem;
                right: 1rem;
            }
            i {
                color: $Color-Blue;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 1.125rem;
                margin: auto;
                height: 14px;
            }
            p {
                position: absolute;
                color: $Color-Gray-02;
                font-size: $TextSize-04;
                left: 4rem;
                top: .5rem;
            }
        }
    }
    footer {
        justify-content: flex-end;
        >button {
            flex: inherit;
            width: 94px;
            border: 0;
            border-radius: 4px;
            line-height: 24px;
            margin-left: 8px;
            background: white;
            color: #808080;
            text-align: center;
            &:last-child {
                text-align: center;
                background-color: $Color-Blue;
                color: white;
            }
        }
    }
}

@include respond-below(sm) {
    .pop-container {
        min-width: 90%;
        max-width: 90%;
    }
}