@include respond-below(sm) {
    body {
        &.is-sidebar {
            overflow-y: hidden;
        }
    }
    .sidebar {
        position: fixed;
        top: 3rem;
        z-index: 5;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: .25s height;
        .is-sidebar & {
            height: 11rem;
            overflow-y: auto;
            &>span {
                width: 100%;
                height: 100%;
                background: black;
                display: block;
                position: fixed;
                z-index: -1;
                top: 0;
                opacity: .35;
            }
        }
    }
}

@include respond-above(sm) {
    .header nav a {
        display: none;
    }
}